<section>
  <header class="clearfix">
    <h2 class="float-left">{{ feedDetails.source.name }}</h2>
    <button (click)="deleteFeed()" class="btn btn-danger btn-sm float-right" type="button">Delete</button>
  </header>
  <p class="text-muted">{{ feedDetails.source.address }}. Last updated {{ feedDetails.feed.lastUpdated | date }}</p>
  <ul class="list-group">
    <li *ngFor="let feed of feedDetails.feed.feedItems" class="list-group-item">
      <a href="{{ feed.link }}">{{ feed.title }}</a>
      <div class="text-muted">{{ feed.created | date }}</div>
    </li>
  </ul>
  <button (click)="goBack()" class="btn btn-secondary mt-1">Back</button>
</section>
